@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  background-color: $bg-primary;
  color: $text-primary;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  position: relative;
}